body{
    display: grid;
    place-content: center;
    background-color: rgb(255, 255, 255);
}
table{
    width: 10vw;
    height: 25vh;
    background: gray;
    border-collapse: collapse;
    text-align: center;
}


tr, td {
    border: 0.2px solid black;
    text-align: left;
    vertical-align: middle
}

tr:hover {background-color: coral;}
